@bg_color_x_light: #F5F5F5;
@bg_color_light: #e2e2e2; // rgba(168, 168, 168, 0.31);
@bg_color_default: #7BA7BF; // rgba(168, 168, 168, 0.31);

@bg_color_theme_medium: #00D1FF;

@color_x_light: #FFFFFF;
@color_light: @bg_color_default;
@color_dark: #000000;

@padding_big: 32px;
@padding_medium: 24px;
@padding_default: 16px;
@padding_small: 12px;
@padding_x_small: 8px;

@margin_big: 32px;
@margin_medium: 24px;
@margin_default: 16px;
@margin_small: 12px;
@margin_x_small: 8px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace, sans-serif;
}

.page {
  min-height: 100vh;
  width: 100vw;
}

.wrapper {
  margin: 0px auto;
  width: 400px;
}

.wrapper_theme_default {
  background-color: @bg_color_light;
  padding: @padding_big;
}

.wrapper_crop_bottom {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.shadowed {
  box-shadow: 0px 4px 4px #00000040;
}

.stretch {
	flex: 1;
}

// Сетка GRID
.row {
  display: flex;
  width: 100%;
  
  gap: @margin_default;
  margin-bottom: @margin_default;
}

.flex {
  display: flex;
}

@column-number: 12; 
.create-columns(@column-number); // создать стили колонок разных ширин
.create-columns(@total, @i: 1) when (@i =< @total) {
  .col@{i} {
    flex: calc(@i / 12);
  }
  .create-columns(@total, (@i + 1));
}

.column {
  display: flex;
  flex-direction: column;
}

.withGap {
  gap: @margin_default;
}

.column_justify_center {
  justify-content: center;
}

.column_align_center {
  align-items: center;
}

.article {
  margin-bottom: @margin_big;
}

// Переопределение дефолтных стилей
input {
  outline: none;
  border: none;
}

// Классы для текстов
h1 {
  padding-bottom: @padding_big;
}

.text_center {
  text-align: center;
}

// Классы для фона

.bg_light {
	background-color: @bg_color_light;
}

.bg_default {
	background-color: @bg_color_default;
}

